node_modules/
dist/
.astro/
.DS_Store
.dev.vars*
.env*
public/images 2/
public/I DIPLOMI/
public/images/Corsi.png
public/images/Dimplona nazionale KRAV.jpg
public/images/Diploma master AKI KRAV.jpg
public/images/Diploma4KArate.jpg
public/images/Diplomi.jpeg
public/images/Foto da usare/
